<div class="input-group fileupload col-sm-4">
    <input id="{{ field.name() }}" class="form-control" type="file" nv-file-select="" uploader="uploader" ng-model="field.value" />
</div>
<br/>
<table class="grid" ng-show="uploader.queue.length > 0">
    <thead>
    <tr>
        <td width="50%">Name</td>
        <td ng-show="uploader.isHTML5">Size</td>
        <td ng-show="uploader.isHTML5">Progress</td>
        <td>Status</th>
        <td>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in uploader.queue">
        <td><strong>{{ item.file.name }}</strong></td>
        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
        <td ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
        </td>
        <td class="text-center">
            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
        </td>
    </tr>
    </tbody>
</table>