$icon-font-path: "../app/scripts/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../app/scripts/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "sb-admin.scss";
@import "spinner.scss";

.nav {
    a {
        cursor: pointer;
    }

    > li.heading {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #777777;
    }
}



#header {
    padding: 30px 0;

    h1 {
        margin: 0;
    }
}


/**
* Dashboard
*/
.dashboard-content {
    .panel-default {
        padding: 0;
        margin: 0 1%;

        table {
            width: 100%;

            thead {
                font-weight: bold;
            }

            tr {
                height: 40px;
            }
        }
    }

    .grid {
        border: none;
    }
}

.controls {
    text-align: right;
}

/**
* Grid
*/
.grid {
    background-color: #FFFFFF;

    .header {
        padding:10px;

        font-weight: bold;
        border-bottom: 1px solid #E7E7E7;
    }

    .cell {
        border-bottom: 1px solid #E7E7E7;
        padding:10px;
        background-color: #FFFFFF;

        &:hover, &:hover div {
            background-color: #f6f9fe;
        }

        a {
            color: #000000;
            cursor: pointer;
        }
    }
}

div.bottom-loader {
    margin-top: 40px;
    position: inherit;
    width: auto;
    height: auto;

    &:after {
        position: relative;
        display: inherit;
        margin: 0 auto;
    }

    &:before {
        display: none;
    }
}
/**
* Edition form
*/
.form-horizontal .read-only p {
  margin-bottom: 0;
  padding-top: 7px;
}

#header-nav {
    background: #FFFFFF;
    border-bottom: 1px solid #e6e6e6;
}

#wrapper {
    background-color: #FFFFFF;
}

.navbar-static-side {
  margin-top: 10px;
}

#side-menu {
    background-color: #FFFFFF;
    font-size: 12px;

    a {
        color: #767676;
    }

    li {
        margin: 0 10px 10px 10px;
        padding: 3px 0;
        border-radius: 3px;
        background-color: #F1F2F7;
    }

    li.active, li:hover, li:hover a {
        background-color: #FDD752;
        font-weight: bold;
    }
}
