$icon-font-path: "../app/scripts/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../app/scripts/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "sb-admin.scss";

.nav {
    a {
        cursor: pointer;
    }

    > li.heading {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #777777;
    }
}

#header {
    padding: 30px 0;

    h1 {
        margin: 0;
    }
}

/**
* Dashboard
*/
.dashboard-content {
    .panel-default {
        padding: 0;
        margin: 0 1%;
    }

    .grid {
        border: none;
    }
}

.controls {
    text-align: right;
}

/**
* Grid
*/
.grid {
    border: 1px solid #e7e7e7;

    .item {
        height: 40px;
        padding: 10px 0;
        float: none;
        clear: both;
    }
    .item.header {
        font-weight: bold;
        background-color: #f5f5f5;
    }
    .item.odd {
        background-color: #f9f9f9;
    }
    .cell {
        float: left;
        padding-left:10px;
        padding-right:10px;

        a {
            color: #000000;
            cursor: pointer;
        }
    }
}


/**
* Edition form
*/
.form-horizontal .read-only p {
  margin-bottom: 0;
  padding-top: 7px;
}

