$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


.nav > li.heading {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #777777;
}

#header {
  padding: 30px 0;

  h1 {
      margin: 0;
  }
}

/**
* Dashboard
*/
.dashboard-content {
    .gridStyle {
        height: 333px;
    }

    .panel-default {
        padding: 0;
        margin: 0 1%;
    }
}

/**
* Grid
*/
.item {
  height: 40px;
  padding: 10px 0;
  float: none;
  clear: both;
}
.item.header {
  font-weight: bold;
}
.item.odd {
  background-color: #e7e7e7;
}
.column {
  float: left;
  padding-left:10px;
  padding-right:10px;
}
.column a {
  color: #000000;
}





