$icon-font-path: if(compass-env() == 'development', "../src/javascripts/bower_components/", "../../") + "bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../javascripts/bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "sb-admin";
@import "font-awesome/font-awesome";

#nprogress div.spinner {
    width: 18px;
    margin-left: -9px;
    left: 50%;
}

.nav {
    a {
        cursor: pointer;
    }
}

.navbar-static-top {
    margin-bottom: 0;
}

menu {
    margin: 0;
    padding: 0;
}

/**
* Dashboard
*/
.dashboard-content {
    .panel-default {
        margin-bottom: 20px!important;
        padding: 0;
        margin: 0 1%;
        overflow: scroll;

        .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }

        table {
            width: 100%;

            thead {
                font-weight: bold;
            }

            tr {
                height: 40px;
            }
        }
    }

    .grid {
        border: none;
    }
}

view-actions {
    margin: 40px 0 20px 20px;
    float: right;
}

.filters {
    margin: 40px 0 20px 20px;
    float: right;
}

/**
* Grid
*/
.quick-filters {
    clear: both;

    li > span {
        padding: 10px 15px;
        display: block;
    }
}

.grid {

    background-color: #fff;

    a {
        cursor: pointer;
    }

    .label-default {
        margin-right: 5px;
        font-weight: normal;
        font-size: 12px;
        padding-top: 4px;
        text-decoration: none;
    }

    td {
        a.multiple:hover {
            text-decoration: none;
        }
    }

    thead {
        tr {
            .glyphicon {
                font-size: 13px;
                color: #aaa;
            }
        }
    }
}

div.bottom-loader {
    margin-top: 40px;
    position: inherit;
    width: auto;
    height: auto;

    &:after {
        position: relative;
        display: inherit;
        margin: 0 auto;
    }

    &:before {
        display: none;
    }
}

.grid-detail {
    .total {
        float: left;
        display: inline-block;
        margin: 25px 10px 0 0;
    }

    .pagination {
        float: right;
    }
}

/**
 * Filters
 */

.filters {
    .form-control {
        width: auto;
    }
}
/**
* Edition form
*/
.form-horizontal {
    .read-only p {
        margin-bottom: 0;
        padding-top: 7px;
    }

    textarea {
        height: 150px;
    }

    input[type="checkbox"], input[type="radio"] {
        max-width: 16px;
        box-shadow: none;
        cursor: pointer;
        margin: 0;
    }

    .border-around {
        margin-top: 2px;
        background-color: #FFF;
        background-image: none;
        border: 1px solid #CCC;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        width: 100%;
    }

    a {
        cursor: pointer;
    }

    .ta-toolbar button {
        font-size: 12px;
        padding: 5px 8px;

        &.active {
            z-index: 1;
        }
    }

    &#show-view {
        .label-default {
            margin-right: 5px;
            font-weight: normal;
            font-size: 12px;
            padding-top: 4px;
        }

        .control-label {
            padding-top: 0;
        }
    }
}

