$icon-font-path: if(compass-env() == 'development', "../src/javascripts/bower_components/", "../../") + "bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../javascripts/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "sb-admin";
@import "font-awesome/font-awesome";

#nprogress div.spinner {
    width: 18px;
    margin-left: -9px;
    left: 50%;
}

.nav {
    a {
        cursor: pointer;
    }

    > li.heading {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #777777;
    }
}

#header {
    padding: 30px 0;

    h1 {
        margin: 0;
    }

    h2 {
        font-size: 14px;
        margin-top: 5px;
    }
}

/**
* Dashboard
*/
.dashboard-content {
    .panel-default {
        margin-bottom: 20px!important;
        padding: 0;
        margin: 0 1%;
        overflow: scroll;

        .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }

        table {
            width: 100%;

            thead {
                font-weight: bold;
            }

            tr {
                height: 40px;
            }
        }
    }

    .grid {
        border: none;
    }
}

menu {
    margin: 0;
    padding: 0;
}

.controls {
    text-align: right;
}

/**
* Grid
*/
.quick-filters {
    clear: both;

    li > span {
        padding: 10px 15px;
        display: block;
    }
}

.grid {

    background-color: #fff;

    .label-default {
        margin-right: 5px;
        font-weight: normal;
        font-size: 12px;
        padding-top: 4px;
        text-decoration: none;
    }

    td {
        a.multiple:hover {
            text-decoration: none;
        }
    }

    thead {
        tr {
            .glyphicon {
                font-size: 13px;
                color: #aaa;
            }
        }
    }
}

div.bottom-loader {
    margin-top: 40px;
    position: inherit;
    width: auto;
    height: auto;

    &:after {
        position: relative;
        display: inherit;
        margin: 0 auto;
    }

    &:before {
        display: none;
    }
}

.grid-detail {
    .total {
        float: left;
        display: inline-block;
        margin: 25px 10px 0 0;
    }

    .pagination {
        float: right;
    }
}
/**
* Edition form
*/
.form-horizontal {
    .read-only p {
        margin-bottom: 0;
        padding-top: 7px;
    }

    textarea {
        height: 150px;
    }

    input[type="checkbox"], input[type="radio"] {
        max-width: 16px;
        box-shadow: none;
        cursor: pointer;
        margin: 0;
    }

    .border-around {
        margin-top: 2px;
        background: #ffffff;
        width: 100%;
    }

    a {
        cursor: pointer;
    }

    .ta-toolbar button {
        font-size: 12px;
        padding: 5px 8px;

        &.active {
            z-index: 1;
        }
    }
}

#header-nav {
    background: #FFFFFF;
    border-bottom: 1px solid #e6e6e6;
    z-index: 2;
}

#wrapper {
    background-color: #FFFFFF;

    #page-wrapper {
        min-height: inherit;
    }
}

.navbar-static-side {
  margin-top: 10px;
}

#side-menu {
    background-color: #FFFFFF;
    font-size: 12px;

    a {
        color: #767676;
    }

    li {
        margin: 0 10px 10px 10px;
        padding: 3px 0;
        border-radius: 3px;
        background-color: #F1F2F7;
    }

    li.active, li:hover, li:hover a {
        background-color: #FDD752;
        font-weight: bold;
    }
}

#filter {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    button {
        padding-bottom: 7px;
    }
}
