$icon-font-path: if(compass-env() == 'development', "../src/javascripts/bower_components/", "../../") + "bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../javascripts/bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "sb-admin";
@import "font-awesome/font-awesome";

#nprogress div.spinner {
    width: 18px;
    margin-left: -9px;
    left: 50%;
}

.navbar-static-top {
    margin-bottom: 0;
}

menu {
    margin: 0;
    padding: 0;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/**
* Dashboard
*/
.dashboard-content {
    .panel-default {

        /* sb-admin uses the > selector, angular forces us to repeat the definition */
        .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }

        table {
            margin-bottom: 0;
        }
    }

    .grid {
        border: none;
    }
}

/**
* Grid
*/

.page-header {
    margin: 10px 0 15px;

    .lead {
        margin-bottom: 0;
    }
}

ma-view-actions {
    margin: 25px 0 15px 0;
    float: right;
}

.list-header {

    /**
     * Filters
     */
    .filters {
        .filter {
            margin-right: 5px;

            .input-group-btn {
                width: auto;
            }

            select {
                width: 250px;
            }
        }

        .datepicker {
            .form-control {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .btn-default {
              height: 34px;
            }
        }

        .form-control {
            width: auto;
        }
    }
}

.grid {

    background-color: #fff;

    .label-default {
        margin-right: 5px;
        font-weight: normal;
        font-size: 12px;
        padding-top: 4px;
        text-decoration: none;
    }

    td {
        a.multiple:hover {
            text-decoration: none;
        }
    }

    thead {
        tr {
            .glyphicon {
                font-size: 13px;
                color: #aaa;
            }
        }
    }
}

div.bottom-loader {
    margin-top: 40px;
    position: inherit;
    width: auto;
    height: auto;

    &:after {
        position: relative;
        display: inherit;
        margin: 0 auto;
    }

    &:before {
        display: none;
    }
}

.pagination-bar {
    text-align: right;
    margin: 20px 0;
    .pagination {
        margin: 0 0 0 20px;
    }
    .total {
        display: inline-block;
        padding: 5px;
    }
}

/**
* Edition form
*/
.form-horizontal {

    textarea {
        height: 150px;
    }

    input[type="checkbox"], input[type="radio"] {
        max-width: 16px;
        box-shadow: none;
        cursor: pointer;
        margin: 0;
    }

    .border-around {
        margin-top: 2px;
        background-color: #FFF;
        background-image: none;
        border: 1px solid #CCC;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        width: 100%;
    }

    .ta-toolbar button {
        font-size: 12px;
        padding: 5px 8px;

        &.active {
            z-index: 1;
        }
    }

    &#show-view {
        .label-default {
            margin-right: 5px;
            font-weight: normal;
            font-size: 12px;
            padding-top: 4px;
        }

        .control-label {
            padding-top: 0;
        }

        .show-value {
            .table {
                margin: 0;

                td {
                    border-top: 0;
                }
            }
        }
    }

    .CodeMirror {
        border: 1px solid #CCC;
        border-radius: 4px;
    }
}

