<div class="row" ng-if="dashboardController.hasEntities">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Dashboard</h1>
        </div>
    </div>
</div>

<div class="row dashboard-content">
    <div class="col-lg-6">
        <div class="panel panel-default" ng-repeat="panel in dashboardController.panels" ng-if="$even">
            <ma-dashboard-panel label="{{ panel.label }}"
                             view-name="{{ panel.viewName }}"
                             fields="panel.fields"
                             entries="panel.entries"
                             entity="panel.entity"
                             per-page="panel.perPage"
                             sort-field="panel.sortField"
                             sort-dir="panel.sortDir">
            </ma-dashboard-panel>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default" ng-repeat="panel in dashboardController.panels" ng-if="$odd">
            <ma-dashboard-panel label="{{ panel.label }}"
                             view-name="{{ panel.viewName }}"
                             fields="panel.fields"
                             entries="panel.entries"
                             entity="panel.entity"
                             per-page="panel.perPage"
                             sort-field="panel.sortField"
                             sort-dir="panel.sortDir">
            </ma-dashboard-panel>
        </div>
    </div>
</div>

<div class="row" ng-if="!dashboardController.hasEntities">
    <div class="col-lg-12">
        <div class="dashboard-invite">
            <p>All dependencies are set, ng-admin is ready to run!</p>
            <p>Now you can update the configuration: add entities to the admin, then refresh.</p>
        </div>
    </div>
</div>
