<div class="row" ng-if="dashboardController.hasEntities">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>{{ 'Dashboard' | translate }}</h1>
        </div>
    </div>
</div>

<div class="row dashboard-content">
    <div class="col-lg-6">
        <div class="panel panel-default" ng-repeat="collection in dashboardController.collections | orderElement" ng-if="$even">
            <ma-dashboard-panel collection="collection" entries="dashboardController.entries[collection.name()]" datastore="dashboardController.datastore"></ma-dashboard-panel>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default" ng-repeat="collection in dashboardController.collections | orderElement" ng-if="$odd">
            <ma-dashboard-panel collection="collection" entries="dashboardController.entries[collection.name()]" datastore="dashboardController.datastore"></ma-dashboard-panel>
        </div>
    </div>
</div>

<div class="row" ng-if="!dashboardController.hasEntities">
    <div class="col-lg-12">
        <div class="dashboard-invite">
            <p>All dependencies are set, ng-admin is ready to run!</p>
            <p>Now you can <a href="https://github.com/marmelab/ng-admin/blob/master/README.md#configuring-ng-admin">update the configuration</a>: add entities to the admin, then refresh.</p>
        </div>
    </div>
</div>
