<div id="wrapper">
    <nav id="header-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">{{ appController.applicationName }}</a>
        </div>
    </nav>

    <div class="navbar-default navbar-static-side" role="navigation" ng-controller="SidebarController as sidebarController">
        <menu></menu>
    </div>

    <div id="page-wrapper">
        <div class="main-container" ui-view></div>
    </div>
    <div id="loader"></div>
</div>
