<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Angular Admin</a>
        </div>
    </nav>

    <div class="navbar-default navbar-static-side" role="navigation" ng-controller="SidebarController as sidebarController">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="heading"><i class="fa fa-list-alt fa-fw"></i> Entities</li>
                <li class="entities-repeat" ng-repeat="(key, entity) in sidebarController.entities">
                    <a ng-click="sidebarController.displayList(key, $event)">{{ entity.label() }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="page-wrapper">
        <div class="main-container" ui-view></div>
    </div>
</div>
