<div class="row" id="header">
    <div class="col-sm-5">
        <h1>Create {{ formController.entityLabel }}</h1>
    </div>

    <div class="controls col-sm-7">
        <a class="btn btn-default" ng-click="formController.back()">Back to list</a>
    </div>
</div>

<div class="row" id="edit-container">
    <form class="form-horizontal" name="createForm" ng-submit="formController.submitCreation(createForm, $event)">
        <div class="form-field form-group" ng-include="'/require/app/Crud/view/edit-attribute.html'" ng-repeat="field in formController.fields | orderField track by $index"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
