<label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>

<div ng-if="field.edition == 'editable'">
    <div class="col-sm-10" ng-switch="field.type">
        <input id="{{ field.name }}" class="form-control" ng-switch-when="text" type="text" ng-model="field.value" />

        <input id="{{ field.name }}" class="form-control" ng-switch-when="email" type="email" ng-model="field.value" />

        <input id="{{ field.name }}" class="form-control" ng-switch-when="number" type="number" ng-model="field.value" />

        <div class="input-group datepicker col-sm-4" ng-switch-when="date">
            <input id="{{ field.name }}" class="form-control" type="text" datepicker-popup="{{ field.validation.format }}" ng-model="field.value" min-date="field.minDate" max-date="field.maxDate" ng-required="field.validation.required" is-open="editController.openDatepicker[name]" close-text="Close" />

            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="editController.toggleDatePicker($event, name)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>

        <select id="{{ field.name }}" class="form-control" ng-switch-when="link" ng-model="field.value" ng-options="option as option for option in componentNames"></select>

        <select id="{{ field.name }}" class="form-control" ng-switch-when="links" ng-model="field.value" multiple ng-multiple="true" ng-options="option as option for option in componentNames"></select>

        <input id="{{ field.name }}" type="checkbox" class="form-control" ng-switch-when="boolean" ng-model="field.value" />

        <select id="{{ field.name }}" class="form-control" ng-switch-when="choice" ng-model="field.value" ng-options="option as option for option in field.choices"></select>

        <select id="{{ field.name }}" class="form-control" ng-switch-when="choices" ng-model="field.value" multiple ng-multiple="{{ field.multiple }}" ng-options="option as option for option in field.choices"></select>
    </div>
</div>

<div ng-if="field.edition == 'read-only'">
    <div class="col-sm-10 read-only" ng-switch="field.type">
        <p ng-switch-when="text">{{ field.value }}</p>

        <p ng-switch-when="integer">{{ field.value }}</p>
    </div>
</div>
