<div class="row" id="header">
    <div class="col-sm-5">
        <h1>List of {{ entityLabel }}</h1>
    </div>

    <div class="controls col-sm-7">
        <a class="btn btn-default" ng-click="listController.create()">Add new</a>
    </div>
</div>

<div class="row grid">
    <fa-grid-layout fa-options="grid">

        <div class="item header">
            <div class="cell" ng-repeat="column in grid.columns">
                {{ column.label }}
            </div>
        </div>

        <fa-surface ng-repeat="item in grid.items">
            <div class="item" ng-class="listController.itemClass($index)">
                <div class="cell" ng-repeat="column in grid.columns">
                    <a ng-click="listController.edit(item)">{{ item[column.field] }}</a>
                </div>
            </div>
        </fa-surface>
    </fa-grid-layout>
</div>

<div class="row pull-right">
    <ul class="pagination pagination-sm">
        <li ng-class="{ disabled: currentPage == 1}">
            <a href ng-click="listController.setPage(currentPage - 1)">« Prev</a>
        </li>
        <li ng-repeat="n in range(1, nbPages)" ng-class="{active: n == currentPage}" ng-click="listController.setPage(n)">
            <a href>{{ n }}</a>
        </li>
        <li ng-class="{disabled: currentPage == nbPages}">
            <a href ng-click="listController.setPage(currentPage+ 1)">Next »</a>
        </li>
    </ul>
</div>
