<div class="row" id="header">
    <div class="col-sm-5">
        <h1>List of {{ entityLabel }}</h1>
    </div>

    <div class="controls col-sm-7">
        <a class="btn btn-default" ng-click="listController.create()">Add new</a>
    </div>
</div>

<div class="row grid" infinite-pagination="listController.nextPage()" threshold="100">
    <div ng-include="'/require/app/Crud/view/grid.html'"></div>
</div>

<div class="row pull-right" ng-if="!infinitePagination">
    <ul class="pagination pagination-sm">
        <li ng-class="{ disabled: currentPage == 1}">
            <a href ng-click="listController.setPage(currentPage - 1)">« Prev</a>
        </li>
        <li ng-repeat="n in range(1, nbPages)" ng-class="{active: n == currentPage}" ng-click="listController.setPage(n)">
            <a href>{{ n }}</a>
        </li>
        <li ng-class="{disabled: currentPage == nbPages}">
            <a href ng-click="listController.setPage(currentPage+ 1)">Next »</a>
        </li>
    </ul>
</div>
