<div id="row-{{ field.name() }}" class="has-feedback" ng-class="view.getAttributeClass({{ formController.name }}.{{ field.name() }}.$valid)">
    <label for="{{ field.name() }}" class="col-sm-2 control-label">
        {{ field.label() }}<span ng-if="field.validation().required">&nbsp;*</span>&nbsp;
    </label>

    <div class="col-sm-10" ng-if="field.editable()" ng-switch="field.type()">
        <ma-input-field ng-switch-when="string" field="field" value="entry.values[field.name()]"></ma-input-field>

        <ma-input-field ng-switch-when="password" type="password" field="field" value="entry.values[field.name()]"></ma-input-field>

        <ma-input-field ng-switch-when="email" type="email" field="field" value="entry.values[field.name()]"></ma-input-field>

        <ma-input-field ng-switch-when="boolean" type="checkbox" field="field" value="entry.values[field.name()]"></ma-input-field>

        <ma-input-field ng-switch-when="number" type="number" field="field" value="entry.values[field.name()]"></ma-input-field>

        <ma-text-field ng-switch-when="text" field="field" value="entry.values[field.name()]"></ma-text-field>

        <ma-date-field ng-switch-when="date" field="field" value="entry.values[field.name()]"></ma-date-field>

        <ma-choice-field ng-switch-when="choice" field="field" value="entry.values[field.name()]"></ma-choice-field>

        <ma-reference-field ng-switch-when="Reference"></ma-reference-field>

        <ma-reference-many-field ng-switch-when="ReferenceMany"></ma-reference-many-field>

        <datagrid ng-switch-when="ReferencedList" ng-init="view=field.getReferencedView();columns=field.getGridColumns();entries=field.getEntries();name=field.getReferencedView().name()" with-pagination="false"></datagrid>

        <ma-wysiwyg-field ng-switch-when="wysiwyg" field="field" value="entry.values[field.name()]"></ma-wysiwyg-field>

        <template-field ng-switch-when="template"></template-field>

        <span ng-if="view.showAttributeSuccess()" class="glyphicon glyphicon-ok form-control-feedback" ng-show="true === {{ formController.name }}.{{ field.name() }}.$valid"></span>

        <span ng-if="!view.showAttributeSuccess()" class="glyphicon glyphicon-remove form-control-feedback" ng-show="false === {{ formController.name }}.{{ field.name() }}.$valid"></span>
    </div>

    <div ng-if="!field.editable()">
        <div class="col-sm-10 read-only">
            <p>{{ entry.values[field.name()] }}</p>
        </div>
    </div>
</div>
