<div class="row">

    <ma-view-actions override="formController.actions" entry="entry" entity="formController.entity">
        <ma-list-button entity="entity"></ma-list-button>
        <ma-delete-button entry="entry" entity="entity"></ma-delete-button>
    </ma-view-actions>

    <div class="page-header">
        <h1 compile="formController.title">
            Edit {{ formController.entity.name() | humanize:true | singularize }}  #{{ entry.identifierValue }}
        </h1>
        <p class="lead" ng-if="formController.description">{{ formController.description }}</p>
    </div>

</div>

<div class="row" id="edit-container" ng-class="'ng-admin-entity-' + formController.entity.name()">
    <form class="form-horizontal" name="{{ formController.name }}" ng-submit="formController.submitEdition(editForm, $event)">
        <div class="form-field form-group" ng-include="'ng-admin/Crud/form/edit-attribute.html'" ng-repeat="field in formController.fields | orderElement track by $index"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
            </div>
        </div>
    </form>
</div>
