<div id="row-{{ field.name() }}" class="has-feedback" ng-class="formController.getValidationClassForField({{ formController.name }}.{{ field.name() }})">
    <label for="{{ field.name() }}" class="col-sm-2 control-label">
        {{ field.label() }}<span ng-if="field.validation().required">&nbsp;*</span>&nbsp;
    </label>

    <div ng-if="field.editable()" ng-class="'ng-admin-field-' + field.name() + ' ' + (field.getCssClasses(entry) || 'col-sm-10 col-md-8 col-lg-7')" ng-switch="field.type()">
        <ma-input-field ng-switch-when="string" field="::field" value="entry.values[field.name()]"></ma-input-field>

        <ma-input-field ng-switch-when="password" type="password" field="::field" value="entry.values[field.name()]"></ma-input-field>

        <ma-input-field ng-switch-when="email" type="email" field="::field" value="entry.values[field.name()]"></ma-input-field>

        <ma-checkbox-field ng-switch-when="boolean" field="::field" value="entry.values[field.name()]"></ma-checkbox-field>

        <ma-input-field ng-switch-when="number" type="number" field="::field" value="entry.values[field.name()]"></ma-input-field>

        <ma-text-field ng-switch-when="text" field="::field" value="entry.values[field.name()]"></ma-text-field>

        <ma-json-field ng-switch-when="json" field="::field" value="entry.values[field.name()]"></ma-json-field>

        <div class="row" ng-switch-when="date"><ma-date-field field="::field" value="entry.values[field.name()]" class="col-sm-4"></ma-date-field></div>

        <ma-choice-field ng-switch-when="choice" field="::field" value="entry.values[field.name()]"></ma-choice-field>

        <ma-choice-field ng-switch-when="Reference" field="::field" value="entry.values[field.name()]"></ma-choice-field>

        <ma-choices-field ng-switch-when="choices" field="::field" value="entry.values[field.name()]"></ma-choices-field>

        <ma-choices-field ng-switch-when="ReferenceMany" field="::field" value="entry.values[field.name()]"></ma-choices-field>

        <ma-datagrid ng-switch-when="ReferencedList"
                  name="{{ field.getReferencedView().name() }}"
                  entries="field.entries"
                  fields="field.getReferencedView().fields() | orderElement"
                  listActions="[]"
                  entity="field.getReferencedView().entity">
        </ma-datagrid>

        <ma-wysiwyg-field ng-switch-when="wysiwyg" field="::field" value="entry.values[field.name()]"></ma-wysiwyg-field>

        <template-field ng-switch-when="template"></template-field>

        <span ng-if="view.showAttributeSuccess()" class="glyphicon glyphicon-ok form-control-feedback" ng-show="true === {{ formController.name }}.{{ field.name() }}.$valid"></span>

        <span ng-if="!view.showAttributeSuccess()" class="glyphicon glyphicon-remove form-control-feedback" ng-show="false === {{ formController.name }}.{{ field.name() }}.$valid"></span>
    </div>

    <div ng-if="!field.editable()" ng-class="field.getCssClasses(entry)||'col-sm-10'">
        <p class="form-control-static">
            <ma-column field="::field" entry="::entry" entity="::entity"></ma-column>
        </p>
    </div>
</div>
