<table class="grid table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th ng-repeat="field in fields() track by $index" ng-class="'ng-admin-column-' + field.name()">
                <a ng-click="datagrid.sort(field)">
                    <span class="glyphicon {{ datagrid.sortDir === 'DESC' ? 'glyphicon-chevron-down': 'glyphicon-chevron-up' }}" ng-if="datagrid.isSorting(field)"></span>

                    {{ field.label() }}
                </a>
            </th>
            <th ng-if="listActions()" class="ng-admin-column-actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="entry in entries track by $index">
            <td ng-repeat="field in fields() track by $index" ng-class="field.getCssClasses(entry)">
                <ma-column field="::field" entry="::entry" entity="::entity"></ma-column>
            </td>
            <td ng-if="listActions()" class="ng-admin-column-actions">
                <list-actions entry="::entry" entity="::entity" buttons="listActions()"></list-actions>
            </td>
        </tr>
    </tbody>
</table>
