<div ng-if="!paginationCtrl.infinite">
    <div class="grid-detail">
        <span class="total" ng-if="paginationCtrl.totalItems > 0">
            <strong>{{ paginationCtrl.offsetBegin }}</strong> - <strong>{{ paginationCtrl.offsetEnd }}</strong> on <strong>{{ paginationCtrl.totalItems }}</strong>
        </span>
        <span class="total no-record" ng-if="paginationCtrl.totalItems == 0">
            <strong>No record found.</strong>
        </span>
        <div class="btn-group btn-group-sm" role="group" aria-label="pagination" ng-if="paginationCtrl.displayPagination">
            <a href class="btn btn-default" ng-if="paginationCtrl.page != 1" ng-click="paginationCtrl.setPage(paginationCtrl.page - 1)">« Prev</a>
            <a href class="btn btn-default" ng-if="paginationCtrl.nbPages > 1" ng-repeat="n in paginationCtrl.range(1, paginationCtrl.nbPages)" ng-class="{'active': n == paginationCtrl.page}" ng-click="paginationCtrl.setPage(n)">{{ n }}</a>
            <a href class="btn btn-default" ng-if="paginationCtrl.page != paginationCtrl.nbPages" ng-click="paginationCtrl.setPage(paginationCtrl.page + 1)">Next »</a>
        </div>
    </div>
</div>
