<div class="row">

    <ma-view-actions override="listController.actions" entity="view.entity">
        <ma-create-button ng-if="!entity.isReadOnly" entity="entity"></ma-create-button>
    </ma-view-actions>

    <ma-filter-view filter-fields="::listController.filters"></ma-filter-view>

    <div class="page-header">
        <h1 compile="listController.title">
            {{ listController.view.entity.name() | humanize | pluralize }} list
        </h1>
        <p class="lead" ng-if="listController.description">{{ listController.description }}</p>
    </div>

</div>

<ma-quick-filter quick-filters="listController.quickFilters"></ma-quick-filter>

<div class="row">
    <ma-datagrid name="{{ listController.view.name() }}"
              entries="listController.entries"
              fields="::listController.fields"
              list-actions="::listController.listActions"
              entity="::listController.entity"
              next-page="listController.nextPage"
              per-page="listController.itemsPerPage"
              total-items="{{ listController.totalItems }}"
              infinite-pagination="listController.infinitePagination">
    </ma-datagrid>
</div>
