<div class="row list-header">

    <ma-view-actions override="listController.actions" entity="listController.entity">
        <ma-create-button ng-if="!entity.isReadOnly" entity="entity"></ma-create-button>
    </ma-view-actions>

    <div class="page-header">
        <h1 compile="listController.title">
            {{ listController.view.entity.name() | humanize | pluralize }} list
        </h1>
        <p class="lead" ng-if="listController.description">{{ listController.description }}</p>
    </div>

    <div class="well well-sm" ng-if="listController.hasFilters">
      <ma-filter-view filter-fields="::listController.filters"></ma-filter-view>
      <ma-quick-filter quick-filters="listController.quickFilters"></ma-quick-filter>
      <span class="clearfix"></span>
    </div>
</div>

<div class="row" ng-class="'ng-admin-entity-' + listController.entity.name()">
    <ma-datagrid name="{{ listController.view.name() }}"
              entries="listController.entries"
              fields="::listController.fields"
              list-actions="::listController.listActions"
              entity="::listController.entity">
    </ma-datagrid>
</div>

<div class="row">
    <ma-datagrid-pagination
            infinite="listController.infinitePagination"
            next-page="listController.nextPageCallback"
            per-page="listController.itemsPerPage"
            total-items="{{ listController.totalItems }}">
    </ma-datagrid-pagination>

</div>
