<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <ma-view-actions override="::batchDeleteController.actions" selection="batchDeleteController.selection" entity="::batchDeleteController.entity">
                <ma-list-button ng-if="::entity.listView().enabled" entity="::entity"></ma-list-button>
            </ma-view-actions>
            <h1 compile="::batchDeleteController.title">
                {{ 'DELETE' | translate }} {{ ::batchDeleteController.entityIds.length }} {{ ::batchDeleteController.view.entity.name() | humanize | pluralize }}
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p translate="ARE_YOU_SURE"></p>
        <button class="btn btn-danger" ng-click="batchDeleteController.batchDelete()" translate="YES"></button>
        <button class="btn btn-default" ng-click="batchDeleteController.back()" translate="NO"></button>
    </div>
</div>

<div ng-if="selection" class="row list-view" ng-class="::'ng-admin-entity-' + batchDeleteController.entity.name()">
    <div class="col-lg-12">
        <ma-datagrid name="{{ ::batchDeleteController.view.name() }}"
                  entries="batchDeleteController.selection"
                  fields="::batchDeleteController.fields"
                  entity="::batchDeleteController.entity">
        </ma-datagrid>
    </div>
</div>
