<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <ma-view-actions override="::deleteController.actions" entry="::entry" entity="::deleteController.entity">
                <ma-list-button ng-if="::entity.listView().enabled" entity="::entity"></ma-list-button>
            </ma-view-actions>
            <h1 compile="::deleteController.title">
                {{ 'DELETE' | translate }} {{ ::deleteController.view.entity.label() | humanize:true | singularize | translate }}  #{{ ::entry.identifierValue }}
            </h1>
            <p class="lead" ng-if="::deleteController.description" compile="::deleteController.description">{{ ::deleteController.description }}</p>
        </div>
    </div>
</div>

<div class="row" id="delete-view">
    <div class="col-lg-12">
        <p translate="ARE_YOU_SURE"></p>
        <button class="btn btn-danger" ng-click="deleteController.deleteOne($event)" translate="YES"></button>
        <button class="btn btn-default" ng-click="deleteController.back()" translate="NO"></button>
    </div>
</div>
