<div class="row">

    <view-actions override="showController.actions" entry="entry" entity="view.entity">
        <list-button entity="entity"></list-button>
    </view-actions>

    <div class="page-header">
        <h1 compile="deleteController.title">
            Delete {{ deleteController.view.entity.name() | singularize }}  #{{ entry.identifierValue }}
        </h1>
        <p class="lead" ng-if="deleteController.description">{{ deleteController.description }}</p>
    </div>

</div>

<div class="row" id="edit-container">
    <p>Are you sure ?</p>
    <button class="btn btn-danger" ng-click="deleteController.deleteOne()">Yes</button>
    <button class="btn btn-default" ng-click="deleteController.back()">No</button>
</div>
