<div class="row" id="header">
    <div class="col-sm-5">
        <h1 compile="deleteController.titleTemplate || 'Delete {{ deleteController.view.entity.name() | singularize }}  #{{ entry.identifierValue }}'"></span>
        <h2 ng-if="deleteController.description">{{ deleteController.description }}</h2>
    </div>
</div>

<div class="row" id="edit-container">
    <p>Are you sure ?</p>
    <button class="btn btn-danger" ng-click="deleteController.deleteOne()">Yes</button>
    <button class="btn btn-default" ng-click="deleteController.back()">No</button>
</div>
