<div class="row" id="header">
    <div class="col-sm-5">
        <h1>{{ formController.title }}</h1>
        <h2 ng-if="formController.description">{{ formController.description }}</h2>
    </div>

    <div class="controls col-sm-7">
        <a class="btn btn-default" ng-click="formController.back()"><span class="glyphicon glyphicon-chevron-left"></span> Back to list</a>
    </div>
</div>

<div class="row" id="edit-container">
    <form class="form-horizontal" name="{{ formController.name }}" ng-submit="formController.submitEdition(editForm, $event)">
        <div class="form-field form-group" ng-include="'ng-admin/Crud/view/edit-attribute.html'" ng-repeat="field in formController.fields | orderElement track by $index"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-danger pull-right" ng-click="formController.deleteOne()"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a>
            </div>
        </div>
    </form>
</div>
