<div id="row-{{ field.name() }}">
    <label for="{{ field.name() }}" class="col-sm-2 control-label">{{ field.label() }}<span ng-if="field.validation().required">&nbsp;*</span>&nbsp;</label>

    <div class="col-sm-10" ng-if="field.edition() == 'editable'" ng-switch="field.type()">
        <string-field ng-switch-when="string"></string-field>

        <text-field ng-switch-when="text"></text-field>

        <email-field ng-switch-when="email"></email-field>

        <number-field ng-switch-when="number"></number-field>

        <date-field ng-switch-when="date"></date-field>

        <boolean-field ng-switch-when="boolean"></boolean-field>

        <choice-field ng-switch-when="choice"></choice-field>

        <reference-field ng-switch-when="reference"></reference-field>

        <reference-many-field ng-switch-when="reference-many"></reference-many-field>

        <datagrid ng-switch-when="referenced-list" ng-init="columns=field.getGridColumns();entities=field.getItems()" with-pagination="false"></datagrid>

        <wysiwyg-field ng-switch-when="wysiwyg"></wysiwyg-field>

        <callback-field ng-switch-when="callback"></callback-field>
    </div>

    <div ng-if="field.edition() == 'read-only'">
        <div class="col-sm-10 read-only">
            <p>{{ field.value }}</p>
        </div>
    </div>
</div>
