<table class="grid">
    <thead>
        <tr>
            <td ng-repeat="column in columns">
                <a ng-click="sort(column.field)">
                    <span class="glyphicon {{ sortDir === 'DESC' ? 'glyphicon-chevron-down': 'glyphicon-chevron-up' }}" ng-if="isSorting(column.field)"></span>

                    {{ column.label }}
                </a>
            </td>
        </tr>
    </thead>

    <tbody>
        <tr ng-class="itemClass($index)" ng-repeat="entity in entities track by $index">
            <td ng-repeat="column in columns" ng-switch="column.field.type()">
                <string-column ng-switch-when="string"></string-column>

                <text-column ng-switch-when="text"></text-column>

                <email-column ng-switch-when="email"></email-column>

                <number-column ng-switch-when="number"></number-column>

                <date-column ng-switch-when="date"></date-column>

                <boolean-column ng-switch-when="boolean"></boolean-column>

                <choice-column ng-switch-when="choice"></choice-column>

                <reference-column ng-switch-when="reference"></reference-column>

                <reference-many-column ng-switch-when="reference-many"></reference-many-column>

                <wysiwyg-column ng-switch-when="wysiwyg"></wysiwyg-column>

                <callback-column ng-switch-when="callback"></callback-column>
            </td>
        </tr>
    </tbody>
</table>
