<table class="grid">
    <thead>
        <tr>
            <td ng-repeat="column in columns">
                <a ng-click="sort(entity, column.field)">
                    <span class="glyphicon {{ sortDir === 'DESC' ? 'glyphicon-chevron-down': 'glyphicon-chevron-up' }}" ng-if="isSorting(entity, column.field)"></span>

                    {{ column.label }}
                </a>
            </td>
        </tr>
    </thead>

    <tbody>
        <tr ng-class="itemClass($index)" ng-repeat="item in items">
            <td ng-repeat="column in columns" ng-switch="entity.getField(column.field).type()">
                <a ng-click="edit(item, entity)" ng-switch-when="reference-many" class="multiple">
                    <span ng-repeat="ref in item[column.field]" class="label label-default">{{ ref }}</span>
                </a>
                <a ng-click="edit(item, entity)" ng-switch-default>{{ item[column.field] }}</a>
            </td>
        </tr>
    </tbody>
</table>
