<div class="row" id="header">
    <div class="col-sm-5">
        <h1>{{ listController.title }}</h1>
        <h2 ng-if="listController.description">{{ listController.description }}</h2>
    </div>

    <div class="controls col-sm-4">
        <a class="btn btn-info" ng-click="listController.create()"><span class="glyphicon glyphicon-plus"></span> Add new</a>
    </div>

    <div class="controls col-sm-3">
        <form id="filter" ng-if="listController.displayFilterQuery" ng-submit="listController.filter()">
            <div class="input-group">
                <input type="text" placeholder="Filter" class="form-control" ng-model="$parent.filterQuery">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    <button class="btn btn-default" type="button" ng-click="listController.clearFilter()"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
        </form>
    </div>

    <quick-filter></quick-filter>
</div>

<datagrid></datagrid>
