<div class="row" id="header">
    <div class="col-sm-5">
        <h1>Create {{ entityLabel }}</h1>
    </div>

    <div class="controls col-sm-7">
        <a class="btn btn-default" ng-click="return()">Back to list</a>
    </div>
</div>

<div class="row" id="edit-container">
    <form class="form-horizontal" name="createForm" ng-submit="create(createForm, $event)">
        <div class="form-field form-group" ng-include="'views/edit-attribute.html'" ng-repeat="(name, field) in fields"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
