<div class="row" id="header">
    <div class="col-sm-5">
        <h1>List of {{ entityLabel }}</h1>
    </div>

    <div class="controls col-sm-7">
        <a class="btn btn-default" ng-click="create()">Add new</a>
    </div>
</div>

<div class="row grid">
    <fa-grid-layout fa-options="options.grid">

        <div class="item header">
            <div class="cell" ng-repeat="column in columns">
                {{ column.label }}
            </div>
        </div>

        <fa-surface ng-repeat="item in items">
            <div class="item" ng-class="itemClass($index)">
                <div class="cell" ng-repeat="column in columns">
                    <a ng-click="edit(item)">{{ item[column.field] }}</a>
                </div>
            </div>
        </fa-surface>
    </fa-grid-layout>
</div>
